<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Iniciar sesión</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>
<body style="background-color: #f7f7f7;">
  <div class="container mt-5">
    <h2>Iniciar sesión</h2>
    
    <!-- Mostrar mensaje de error si existe -->
    {% if error %}
      <div class="alert alert-danger">
        <strong>Error:</strong> {{ error }}
      </div>
    {% endif %}

    <form method="POST" action="/login">
      <div class="form-group">
        <label for="email">Correo Electrónico o Nombre de Usuario:</label>
        <input type="text" class="form-control" id="email" name="email" placeholder="Email o Usuario" required>
      </div>
      <div class="form-group">
        <label for="contraseña">Contraseña:</label>
        <input type="password" class="form-control" id="contraseña" name="contraseña" placeholder="Contraseña" required>
      </div>
      <button type="submit" class="btn btn-primary">Iniciar sesión</button>
    </form>

    <div class="mt-3">
      <p>¿No estás registrado? <a href="{{ url_for('registrarse') }}" class="btn btn-link">Regístrate aquí</a></p>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
