<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Registrarse</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>
<body style="background-color: #f7f7f7;">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid d-flex justify-content-between">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" 
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
          <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='images/logo2.png') }}" alt="Logo CineDB" style="height: 100px; width: auto;">
          </a>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Formulario para registrarse -->
  <div class="container mt-5">
    <h2>Registro de Usuario</h2>
    
    <!-- Mostrar mensaje de error si existe -->
    {% if error %}
      <div class="alert alert-danger">
        <strong>Error:</strong> {{ error }}
      </div>
    {% endif %}

    <form method="POST" action="/registrarse">
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" required>
      </div>
      <div class="form-group">
        <label for="email">Correo Electrónico:</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
      </div>
      <div class="form-group">
        <label for="contraseña">Contraseña:</label>
        <input type="password" class="form-control" id="contraseña" name="contraseña" placeholder="Contraseña" required>
      </div>
      <div class="form-group">
        <label for="confirmar_contraseña">Confirmar Contraseña:</label>
        <input type="password" class="form-control" id="confirmar_contraseña" name="confirmar_contraseña" placeholder="Confirmar Contraseña" required>
      </div>
      <button type="submit" class="btn btn-primary">Registrarse</button>
    </form>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
